# Rider specific
.idea/
*.sln.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/libraries/
.idea/modules.xml
.idea/vcs.xml
.idea/.name

# Build output
/bin/
/obj/
/ref/
/refint/

# Build artifacts
*.dll
*.pdb
*.cache
*.AssemblyInfoInputs.cache
*.sourcelink.json
*.log

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo
*.pid

# Node.js
node_modules/

# macOS
.DS_Store
