# Ignore build output directories
/bin/
/obj/
/ref/
/refint/

# Ignore build artifacts
*.dll
*.pdb
*.cache
*.sourcelink.json
*.AssemblyInfoInputs.cache

# Ignore Rider-specific files
.idea/
rider.project.restore.info

# Ignore temporary files
*.tmp
*.log
